/** include padding-ul si border-ul in lungimea si latimea totala a elementelor **/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.menu {
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.main {
    width: 100%;
    max-width: 100vw;
    float: left;
}

/* Default col style */
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

/** row class **/
.row::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    background-color: #23b7e5;
    text-align: left;
    padding: 5px 1px 5px 20px;
    color: white;
}

.header h1 {
    display: inline;
    vertical-align: middle;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #23b7e5;
    color: white;
}

.footer-text-right {
    text-align: right;
    padding-right: 2%;
}

.sigla {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    .menu {
        width: 15%;
        float: left;
        height: calc(100vh - 110px);
        text-align: left;
        overflow: hidden;
    }

    .main {
        width: 85%;
        float: left;
        max-height: calc(100vh - 110px);
        overflow: auto;
    }

    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    .col-m-3 {
        width: 25%;
    }

    .col-m-4 {
        width: 33.33%;
    }

    .col-m-5 {
        width: 41.66%;
    }

    .col-m-6 {
        width: 50%;
    }

    .col-m-7 {
        width: 58.33%;
    }

    .col-m-8 {
        width: 66.66%;
    }

    .col-m-9 {
        width: 75%;
    }

    .col-m-10 {
        width: 83.33%;
    }

    .col-m-11 {
        width: 91.66%;
    }

    .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1280px) {

    .menu {
        width: 10%;
        float: left;
        height: calc(100vh - 110px);
        text-align: left;
        overflow: hidden;

    }

    .main {
        width: 90%;
        float: left;
        max-height: calc(100vh - 110px);
        overflow: auto;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #cedcef;
    height: 100%;
    width: 100%;
    overflow: auto;
    font-family: "Verdana, Geneva, sans-serif";

}

.container {
    padding: 10px;
}

/* resize images proportional and animante them */
.img-resize {
    width: 100%;
    height: auto;
    -webkit-animation: scaleaza 2s;
    -webkit-transform: scale(0, 0);
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes scaleaza {
    100% {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes scaleaza {
    100% {
        transform: scale(1, 1);
    }
}

.nav-row a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 27px;
    cursor: pointer;
}

.nav-row a.active {
    background-color: rgb(242, 247, 255);
    color: #4792b1;
}

.nav-row a:hover:not(.active) {
    background-color: #23b7e5;
    color: white;
    -webkit-transition: all .2s ease-in;
    -webkit-transform: scale(1.1);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-bold {
    font-weight: bold;
}

.text-md {
    font-size: 1.2em;
}

.text-xxl {
    font-size: 2.4em;
}

.text-xxxxl {
    font-size: 6em;
}

.m-t {
    margin-top: 10px;
}

.m-b {
    margin-bottom: 10px;
}

.m-l {
    margin-left: 10px;
}

.m-r {
    margin-right: 10px;
}

.b {
    border: 1px solid black;
}

.b-t {
    border-top: 1px solid black;
}

.b-b {
    border-bottom: 1px solid black;
}

.b-l {
    border-left: 1px solid black;
}

.b-r {
    border-right: 1px solid black;
}

.m-t-xxxl {
    margin-top: 70px;
}

.autor {
    margin-top: -15px;
}

.gitlab-link {
    color: white;
    font-weight: bold;
}
